.altitude-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-description {
    display: flex;
    color: black;
    font-size: large;
    text-decoration: underline;
}


.altitude-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.refresh-button {
    color: black;
    font-size: large;
    background-color: rgb(255, 40, 40);
    border: 1px solid black;
    border-radius: 10px;
    width: 420px;
    margin: 10px;
}

.details {
    font-size: small;
    flex-direction: column;
    align-items: center;
    background-color: rgb(177, 177, 177);
    border: 2px solid black;
    border-radius: 10px 0 0 10px;
    padding: 0 50px 50px;
    margin: 3px;
    overflow-y: auto;
    max-height: 500px;
    min-height: 550px;
}

.flight-details {
    flex: 1;
    min-width: 500px;
}

.map-details {
    flex: 2;
}

.tab-selector {
    display: flex;
    border-bottom: 2px solid black;
}

#tab-button {
    flex: 1;
    font-size: large;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0%;
    font-weight: 500;
    cursor: pointer;
    color: white;
    transition: background-color 0.25s, color 0.25s;
    margin-left: 0;
}

.tab-selector button:hover,
.tab-selector button.active {
    background-color: #1178ff;
}

.map-title {
    font-size: xx-large;
    color: white;
    text-align: center;
}