.flight-data-container {
    width: 350px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center aligns all child elements horizontally */
    border: 1px solid black;
    background-color: grey;
    border-radius: 10px;
}

.flight-data-header {
    width: 300px;
    border: 1px solid black;
    background-color: #1178ff;
    color: rgb(0, 0, 0);
    padding: 30px;
    margin: 20px;;
    border-radius: 10px;
    font-size: large;
    text-align: left;
    margin-bottom: 10px; /* Adds space below the header */
}

.flight-data-entry {
    width: 300px; /* Match width of header to align with it */
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin: 10px 0; /* Adjusts vertical margin to add space between entries */
    border: 1px solid black;
    color: black;
}
